$main-green: #8AC007
$black: #000000
$white: #ffffff
$main-red: #D00000
$blue-hover: #3366FF

// Main Theme
$header-yellow: #FFE28D
$header-yellow-border: #FFC34B
$main-yellow: #FFF4D0
$main-teal: #4CD9AF
$main-pink: #FA4880

@mixin action-button($color)
  background: none
  border-radius: 5px
  border: none
  padding: 5px 10px
  color: white
  background-color: $color


#uw_MB_background
  background-color: $main-yellow
  padding: 0px
  button
    @include action-button($main-pink)
  .fa-star
    color: gold

.uw_MB_mainTitle
  background-color: $header-yellow
  border-bottom: 5px solid $header-yellow-border
  padding: 0px 5px

#uw_MB_results, #uw_MB_details
  padding: 0 5px

// Common
.uw_MB_noPadding
  padding-left: 0
  padding-right: 0

.uw_MB_noPaddingLeft
  padding-left: 0

.uw_MB_paddingLeft
  padding-left: 10px

.uw_MB_paddingTopBottom
  padding-top: 10px
  padding-bottom: 10px

.uw_MB_paddingBottom
  padding-bottom: 10px

.uw_MB_marginBottom
  margin-bottom: 15px

.uw_MB_marginTop
  margin-top: 15px

.uw_MB_imgPadding
  padding: 7px

.uw_MB_detailPadding
  padding-top: 10px
  padding-bottom: 10px
  padding-right: 7px
  padding-left: 0px

.uw_MB_alignCenter
  text-align: center

.uw_MB_textRight
  text-align: right

.uw_MB_mainTitle
  color: $black
  font-family: 'Bubblegum Sans'

.uw_MB_viewTitle
  color: $black
  font-family: 'Lato'
  font-size: 19px
  text-shadow: 2px 2px 2px #aaa
  padding-left: 10px

.uw_MB_labelTitle
  font-family: 'Lato'
  font-style: bold
  font-size: 17px

.uw_MB_movieTitle
  font-family: 'Lato'
  font-size: 14px
  text-align: center
  text-decoration: underline

.uw_MB_resultContent
  font-family: 'Lato'
  font-size: 13px
  text-align: center

.uw_MB_content_title
  font-family: 'Lato'
  text-shadow: 2px 2px 2px #aaa
  font-size: 13px
  text-align: left

.uw_MB_contentDetail
  font-family: 'Lato'
  font-size: 13px
  font-style: italic

.uw_MB_showtime_link
  font-family: 'Lato'
  font-size: 13px
  text-decoration: underline

.uw_MB_movieResultBackground
  background-color: #373737

.uw_MB_backSearch
  text-align: right
  font-family: 'Lato'
  padding-top: 2px

.uw_MB_theaterInfo
  color: $black
  text-decoration: underline
  cursor: pointer

.uw_MB_theaterInfo:hover
  color: $blue-hover

.uw_MB_lato
  font-family: 'Lato'

.uw_MB_clickable
  cursor: pointer
  &:hover
    color: $blue-hover

.uw_MB_redText
  color: $main-red

.uw_MB_whiteText
  color: $white

.uw_MB_tealFill
  background-color: $main-teal
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

.uw_MB_taglineBox
  font-family: 'Lato'
  padding: 10px 5px
  background-color: white
  color: black
  border-radius: 10px
  margin-bottom: 10px
  border-bottom: 5px solid gray
  text-align: center
