h4 {
  color: black; }

div#break {
  height: 3px;
  background-color: black; }

.noPadding {
  padding-left: 0;
  padding-right: 0; }

.noPaddingLeft {
  padding-left: 0; }

.paddingLeft {
  padding-left: 10px; }

.paddingTopBottom {
  padding-top: 10px;
  padding-bottom: 10px; }

.paddingBottom {
  padding-bottom: 10px; }

.marginBottom {
  margin-bottom: 15px; }

.imgPadding {
  padding: 7px; }

.alignCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.mainTitle {
  color: black;
  font-family: "Bubblegum Sans"; }

.viewTitle {
  color: black;
  font-family: "Lato";
  font-size: 20px;
  text-shadow: 2px 2px 2px #aaaaaa; }

.labelTitle {
  font-family: "Lato";
  font-style: bold;
  font-size: 17px; }

.movieTitle {
  font-family: "Lato";
  font-size: 18px;
  text-align: center;
  padding-bottom: 3px; }

.movieResultBackground {
  background-color: #d8d8d8; }

.lato {
  font-family: "Lato"; }

.clickable {
  cursor: pointer; }

.clickable:hover {
  color: #156aec; }

.redText {
  color: #d00000; }

.whiteText {
  color: white; }

.redFill {
  background-color: #d00000; }
