h4 {
  color: black; }

div#break {
  height: 3px;
  background-color: black; }

.uw_MB_noPadding {
  padding-left: 0;
  padding-right: 0; }

.uw_MB_noPaddingLeft {
  padding-left: 0; }

.uw_MB_paddingLeft {
  padding-left: 10px; }

.uw_MB_paddingTopBottom {
  padding-top: 10px;
  padding-bottom: 10px; }

.uw_MB_paddingBottom {
  padding-bottom: 10px; }

.uw_MB_marginBottom {
  margin-bottom: 15px; }

.uw_MB_imgPadding {
  padding: 7px; }

.uw_MB_alignCenter {
  text-align: center; }

.uw_MB_textRight {
  text-align: right; }

.uw_MB_mainTitle {
  color: black;
  font-family: "Bubblegum Sans"; }

.uw_MB_viewTitle {
  color: black;
  font-family: "Lato";
  font-size: 20px;
  text-shadow: 2px 2px 2px #aaaaaa; }

.uw_MB_labelTitle {
  font-family: "Lato";
  font-style: bold;
  font-size: 17px; }

.uw_MB_movieTitle {
  font-family: "Lato";
  font-size: 18px;
  text-align: center;
  padding-bottom: 3px; }

.uw_MB_movieResultBackground {
  background-color: #d8d8d8; }

.uw_MB_backSearch {
  text-align: right;
  font-family: "Lato";
  padding-top: 2px; }

.uw_MB_lato {
  font-family: "Lato"; }

.uw_MB_clickable {
  cursor: pointer; }

.uw_MB_clickable:hover {
  color: #156aec; }

.uw_MB_redText {
  color: #d00000; }

.uw_MB_whiteText {
  color: white; }

.uw_MB_redFill {
  background-color: #d00000; }
